.c-embed {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	letter-spacing: 0.05em;
	overflow-x: hidden;
	background: #f9f9f9;
	padding: 1.71429rem 1.71429rem 1.71429rem 1.71429rem;
	border: none;
	box-shadow: none;
}
.c-embed a,
.c-embed a:visited,
.c-embed a:focus,
.c-embed a:active {
	display: block;
	color: #333;
}
.c-embed a:hover {
	opacity: 0.7 !important;
}
.c-embed a:hover .c-embed__image-bg {
	opacity: 0.7;
}
@media screen and (min-width: 0em) and (max-width: 46.8125em) {
	.c-embed {
		padding: 0.85714rem 1.14286rem 1.14286rem 1.14286rem;
	}
}
.c-embed.is-title-only .c-embed__heading {
	margin-bottom: 0;
}
.c-embed.is-title-only .c-embed__heading a {
	padding: 8px 0;
}
.c-embed.is-title-only .c-embed__inner {
	display: none !important;
}
.c-embed__inner {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
@media screen and (min-width: 0em) and (max-width: 46.8125em) {
	.c-embed__inner {
		display: block;
	}
}
.c-embed__heading {
	margin-bottom: 1.14286rem;
}
.c-embed__heading a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.28571rem;
	line-height: 1.2;
}
@media screen and (min-width: 0em) and (max-width: 46.8125em) {
	.c-embed__heading {
		margin-bottom: 0.57143rem;
	}
}
.c-embed__image {
	width: 30%;
	margin-right: 2.28571rem;
}
@media screen and (max-width: 46.8125em) {
	.c-embed__image {
		width: 100%;
	}
}
.c-embed__image-bg {
	width: 100%;
	max-width: 17.14286rem;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-size: contain;
}
.c-embed__image-bg:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 100%;
}
@media screen and (max-width: 46.8125em) {
	.c-embed__image-bg {
		margin: 0 auto 16px;
	}
}
.c-embed__content {
	width: 100%;
	line-height: 1.8;
}
.c-embed__content a {
	text-decoration: none;
}
.c-embed__content a:hover {
	opacity: 0.7 !important;
}
.c-embed .c-map-link-label.js-link {
	display: none !important;
}
.wp-embedded-content {
	display: block;
	width: 100% !important;
	max-width: 100% !important;
	margin-top: 16px;
	margin-bottom: 16px;
}
